:root {
  /* основные шрифты */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* светлая тема текста */

  --light-txt-clr: #ffffff;

  /* темная тема текста */

  --dark-txt-clr: #212121;
  --secondary-dark-txt: #757575;

  /* темный цвет фона */

  --dark-bg-clr: #2f303a;

  /* активная ссылка (hover) */

  --link-active-clr: #2196f3;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* сброс отступов (заголовки + текст + списки) */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* убираем маркеры в списках и подчеркивание в ссылках */

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* подзаголовки h3 */

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
  text-align: center;
  margin-bottom: 10px;
}

/* текст в кнопках */

.btn-txt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
}

/* убираем подчеркивание лого */

.logo {
  text-decoration: none;
  margin-right: 93px;
}

/* первое слово в лого  */

.logo-web {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-active-clr);
}

/* второе слово в лого (header) */

.logo-studio {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
}

/* изменение цвета для второй части лого в футере */

.logo-studio-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--light-txt-clr);
}

/* ссылки на страницы */

.page-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--dark-txt-clr);
}

.page-link:hover,
.page-link:focus {
  color: var(--link-active-clr);
}

/* ссылки контакты в header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-mail,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--link-active-clr);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--link-active-clr);
}

.header-contact:not(:last-child) {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 94px;

}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.page-nav-list {
  display: flex;
}

.page-nav-item:not(:last-child) {
  margin-right: 50px;
} 

.hero {
  background-color: #2f303a;
  margin-bottom: 93px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-clr);

  padding-top: 200px;
  margin-bottom: 30px;


}

/* кнопка hero */
.hero-button {
  background-color: var(--link-active-clr);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 32px;
  margin-bottom: 200px;
}

.btn-aliign {
  text-align: center;
}

/* текст в кнопке hero */
.hero-btn-txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--light-txt-clr);
}

.benefits {
  margin-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-item:not(:last-child) {
margin-right: 30px;
}

.benefits-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-txt-clr);

  margin-bottom: 10px;
}

.benefits-descript {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
  width: 270px;
  height: 75px;
}

.examples-list  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.team {
  background-color: #F5F4FA;;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team-list-item {
  justify-content: space-between;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-title {
  padding-top: 94px;
}

/* Заголовки h2 */

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);

  margin-bottom: 50px;
}

/* описание карточек главная страница */
.card-descript {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
  text-align: center;
  margin-bottom: 30px;

  /* .card-descript {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em; */
}

/* footer */

.logo-footer-link {
  text-decoration: none;
}

.footer-logo-link {
  padding-top: 60px;
}

.bg-footer {
  background-color: var(--dark-bg-clr);
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  padding-top: 20px;
  padding-bottom: 60px;
}

.footer-link-map {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--light-txt-clr);
}

.footer-link-map:hover,
.footer-link-map:focus {
  color: var(--link-active-clr);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--link-active-clr);
}

.footer-link-mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-phone {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-phone:hover,
.footer-link-phone:focus {
  color: var(--link-active-clr);
}



/* оформление кнопок навигации страница portfolio  */

.nav-button {
background: #F5F4FA;
border-radius: 4px;
padding: 6px 22px;
}

.nav-button:hover,
.nav-button:focus {
  color: #ffffff;
  background-color: var(--link-active-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-items:not(:last-child) {
  margin-right: 8px;
}

.nav-btns-list {
  display: flex;
  justify-content: center;
}

.main-btn {
  padding-bottom: 16px;
  margin-bottom: 34px;
}

/* оформление основной галереи страница portfolio  */

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-txt-clr);
}

.card-descript-portfolio {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-txt);
}

.project-item:nth-child(3n) {
margin-right: 0;
}

.project-item {
margin-right: 30px;
margin-bottom: 30px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}
